.dashboard {
    padding: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dashboardItem {
    flex: 1;
    margin: 0px 10px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -4px #000000; 
    box-shadow: 0px 0px 15px -4px #000000;
}

.dashboardTitle {
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.mainInfo {
    align-items: center;
    font-size: 30px;
    font-weight: 600;

}

.table {
    border: 1px solid grey;
    width: 65%;
    display: flex;
    margin: auto;
}

.tableRow {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}